.home__main {
  display: flex;
  flex-direction: column;
  margin: auto 10%;
}

.home__main .slogan {
  font-weight: 500;
  font-size: 48px;
  color: var(--secondary-color);
  margin: 80px auto;
}

@media screen and (max-width: 576px) {
  .home__main {
    margin: 0 20px;
  }
  .home__main .slogan {
    font-size: 24px;
    text-align: start;
    padding: 16px;
    margin: auto 0;
    width: 276px;
  }
}
