.housingCard {
  width: 80%;
  margin: auto;
}
.housingCard__header {
  display: flex;
  justify-content: space-between;

  margin-top: 20px;
}

.housingCard__header__house__h1 {
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
}

.housingCard__header__house__h2 {
  font-weight: 500;
  font-size: 18px;
  color: #ff6060;
  margin: 10px 0;
}

.housingCard__header__house__tags {
  display: flex;
  margin: 20px 0;
}

.tag {
  margin-right: 10px;
}

.housingCard__header__hostInfos {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.housingCard__header__hostInfos__host {
  display: flex;
  align-items: center;
}

.housingCard__header__hostInfos__host__name {
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-color);
  width: 90px;
  text-align: end;
  margin-right: 10px;
}

.housingCard__header__hostInfos__host__picture {
  border-radius: 50%;
  width: 64px;
}

.rating__star {
  margin: 0 3px;
}

.housingCard__houseInfos {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}

.housingCard__houseInfos__accordion {
  width: 45%;
}

@media screen and (max-width: 576px) {
  .housingCard {
    width: 100%;
    margin: auto;
    padding: 0 20px;
  }

  .housingCard__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .housingCard__header__house__h1 {
    font-size: 18px;
  }

  .housingCard__header__house__h2 {
    font-size: 14px;
  }

  .tag {
    width: 84px;
    height: 18px;
    border-radius: 5px;
  }

  .tag__name {
    font-size: 10px;
  }

  .housingCard__header__hostInfos {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
  }

  .housingCard__header__hostInfos__host__name {
    font-size: 12px;
    width: 80px;
  }

  .housingCard__header__hostInfos__host__picture {
    width: 32px;
  }

  .rating__star {
    width: 18px;
  }

  .housingCard__houseInfos {
    flex-direction: column;
    min-height: auto;
  }

  .housingCard__houseInfos__accordion {
    width: 100%;
  }
}
