.footer {
  background: #000000;
  height: 209px;
}

.footer__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 66px 0 28px 0;
}

.footer__copyright {
  font-weight: 500;
  font-size: 24px;
  color: var(--secondary-color);
  text-align: center;
}

@media screen and (max-width: 576px) {
  .footer__copyright {
    font-size: 12px;
  }
}
