:root {
  --primary-color: #ff6060;
  --secondary-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
  margin-block-start: 0;
  margin-block-end: 0;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}
