.banner {
    width: 100%;
    background-color: #000000;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(../../utils/background-banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 25px;
    margin: 25px 0;
}
.slogan {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    margin: 80px 0 ;
    
}